[submodule "plugins/archijson"]
	path = plugins/archijson
	url = https://github.com/Inst-AAA/archijson.git
[submodule "plugins/geometry-processing-js"]
	path = plugins/geometry-processing-js
	url = https://github.com/GeometryCollective/geometry-processing-js
